[Service]
# Type = simple
ExecStart=%h/scripts/sh/dotfiles_backup.sh

; not required since the timer is enabled now
; [Install]
; WantedBy = default.target
; WantedBy = multi-user.target
