Checks: '
	*,
	-altera-id-dependent-backward-branch,
	-android-cloexec-fopen,
	-android-cloexec-socket,
	-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
	-cppcoreguidelines-init-variables,
	-llvmlibc-restrict-system-libc-headers,
'
WarningsAsErrors: '*'
